.isign-details-block {
    display: none;
}
.isign-signers-block {
    display: none;
}
#pdf-frame {
    height: 1200px;
}
.check-code .signing-code {
    font-size: 100px;
}

.col-xs-12 {
    color: blue;
    height: 1200px;
}
