.isign-details-block {
    display: none;
}
.isign-signers-block {
    display: none;
}
#pdf-frame {
    height: 1200px;
}
.check-code .signing-code {
    font-size: 100px;
}

.batch-signings {
    background-color: blue;
    height: 1200px;
}

.col-xs-12 {
    background-color: blue;
    height: 1200px;
}

body #download.btn-success, body .batch-signing__download, body .batch-signing__download a, body #document-download #download {
  display: none !important
}

.sequence-result-listing-container .container.preview-document-container.batch-signing-container, .sequence-result-listing-container .document-list-block.isign-documentlist-block, .sequence-result-listing-container .isign-download-block, .sequence-result-listing-container .sequence-result-listing {
  display: none
}
